            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                {{ with .Site.Taxonomies.tags }}
                <div class="well">
                    <h3>Tags</h3>
                    
                    <ul class="list-group">
                      {{ range $tags, $taxonomy := . }}
                      <a href="{{ "/tags/" | relURL }}{{ $tags | urlize }}" class="list-group-item">
                        <span class="badge">{{ $taxonomy.Count }}</span>
                        {{ $tags }}
                      </a>
                      {{ end }}
                  </ul>
                </div>
                {{ end }}

                <!-- Side Widget Well -->
                <div class="well">
                  <h4>
                    <img class="img-circle" src="https://graph.facebook.com/{{ .Site.Social.facebookuid }}/picture?type=normal"
                      width="64" height="64">
                    <span class="label label-default" style="margin-left: 15px;">{{ .Site.Author.name }}</span>
                  </h4>
                  <p>{{ .Site.Author.describtion }}</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy {{ .Site.LastChange.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
                    <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>