{{ partial "header.html" . }}

    <h1 class="page-header">
        {{ .Title }}
    </h1>

    <!-- Blog Posts -->
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <h3>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
    {{ partial "date.html" . }}
    <blockquote class="h5">
        <p>{{ .Summary }}</p> 
    </blockquote>
    {{ partial "tags.html" . }}
    <a href="{{ .Permalink }}" class="btn btn-default btn-xs" style="float: right;">Read more
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <hr>

    {{ end }}

    <!-- Pager -->
    <div id="pager">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ template "_internal/pagination.html" . }}
    </div>  

{{ partial "footer.html" . }}